## Here I have done breakdwon of whole year data of nepse from 2021 JAN TO 2021 DEC by seperating each monthly with csv file.

In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('../../Historical Data/2021/NEPSE2021JAN_DEC.csv')

In [8]:
df

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume
0,NEPSE,2021-12-29,2520.55,2538.78,2512.41,2524.50,0.22 %,"3,623,480,291.76"
1,NEPSE,2021-12-28,2523.87,2533.63,2486.05,2518.99,-0.11 %,"3,125,575,631.56"
2,NEPSE,2021-12-27,2600.21,2616.27,2518.16,2521.65,-2.69 %,"5,607,439,670.68"
3,NEPSE,2021-12-26,2531.43,2596.43,2531.15,2591.42,2.82 %,"5,173,200,503.38"
4,NEPSE,2021-12-23,2522.51,2542.29,2485.38,2520.23,0.50 %,"4,490,266,410.23"
...,...,...,...,...,...,...,...,...
233,NEPSE,2021-01-07,2181.27,2204.97,2179.09,2194.48,0.00 %,"5,874,708,279.00"
234,NEPSE,2021-01-06,2170.82,2185.20,2170.31,2178.57,0.00 %,"4,425,472,339.00"
235,NEPSE,2021-01-05,2167.82,2182.39,2149.74,2165.49,0.00 %,"4,566,381,178.00"
236,NEPSE,2021-01-04,2207.05,2216.44,2154.00,2169.04,0.00 %,"5,961,733,122.00"
237,NEPSE,2021-01-03,2104.85,2175.39,2104.85,2175.39,0.00 %,"6,344,017,889.00"

In [9]:
import os

In [10]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index for easier handling
df.set_index('Date', inplace=True)

# Get the directory where the main CSV file is located
current_directory = os.path.dirname(os.path.abspath('../../Historical Data/2021/NEPSE2021JAN_DEC.csv'))

# Loop through each unique month and year in the dataset
for date, group in df.groupby(df.index.to_period('M')):
    # Create a file name based on the month and year (e.g., 'NEPSE2021JAN.csv')
    file_name = f"NEPSE{date.year}{date.month:02d}.csv"
    
    # Define the full file path, saving in the same directory
    file_path = os.path.join(current_directory, file_name)
    
    # Save the data for this month to the same directory
    group.to_csv(file_path)

    print(f"Saved: {file_path}")

Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202101.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202102.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202103.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202104.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202105.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202106.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202107.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202108.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202109.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202110.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202111.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2021\NEPSE202112.csv

## For 2022 data

In [12]:
df = pd.read_csv('../../Historical Data/2022/NEPSE2022JAN_2022DEC.csv')

In [13]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index for easier handling
df.set_index('Date', inplace=True)

# Get the directory where the main CSV file is located
current_directory = os.path.dirname(os.path.abspath('../../Historical Data/2022/NEPSE2022JAN_2022DEC.csv'))

# Loop through each unique month and year in the dataset
for date, group in df.groupby(df.index.to_period('M')):
    # Create a file name based on the month and year (e.g., 'NEPSE2021JAN.csv')
    file_name = f"NEPSE{date.year}{date.month:02d}.csv"
    
    # Define the full file path, saving in the same directory
    file_path = os.path.join(current_directory, file_name)
    
    # Save the data for this month to the same directory
    group.to_csv(file_path)

    print(f"Saved: {file_path}")

Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202201.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202202.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202203.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202204.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202205.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202206.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202207.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202208.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202209.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202210.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202211.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2022\NEPSE202212.csv

## For 2023

In [14]:
df = pd.read_csv('../../Historical Data/2023/NEPSE2023JAN_2023DEC.csv')

In [15]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index for easier handling
df.set_index('Date', inplace=True)

# Get the directory where the main CSV file is located
current_directory = os.path.dirname(os.path.abspath('../../Historical Data/2023/NEPSE2023JAN_2023DEC.csv'))

# Loop through each unique month and year in the dataset
for date, group in df.groupby(df.index.to_period('M')):
    # Create a file name based on the month and year (e.g., 'NEPSE2021JAN.csv')
    file_name = f"NEPSE{date.year}{date.month:02d}.csv"
    
    # Define the full file path, saving in the same directory
    file_path = os.path.join(current_directory, file_name)
    
    # Save the data for this month to the same directory
    group.to_csv(file_path)

    print(f"Saved: {file_path}")

Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202301.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202302.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202303.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202304.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202305.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202306.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202307.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202308.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202309.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202310.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202311.csv
Saved: c:\Users\hp\My Desktop\Tradeo\NEPSE\Historical Data\2023\NEPSE202312.csv

Here i will "lets do for the finance data as well"

For the Finance Data we can download the data's from the year 2020 to 2023 so we have to download those data and splits them monthly and yearly wise

In [6]:
# For the finance data 
# First we load the data in the df directory

df = pd.read_csv('../../Historical Data/Finance/FINANCE2020JAN_2023DEC.csv')

In [7]:
df

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume
0,FINANCE,2023-12-28,1778.49,1806.35,1762.53,1773.47,-0.28 %,"96,857,304.70"
1,FINANCE,2023-12-27,1791.89,1812.04,1755.58,1778.49,-0.75 %,"121,292,179.60"
2,FINANCE,2023-12-24,1824.24,1839.77,1784.55,1791.88,-1.65 %,"198,805,284.20"
3,FINANCE,2023-12-21,1880.29,1886.96,1816.22,1821.92,-3.10 %,"222,733,582.60"
4,FINANCE,2023-12-20,1867.61,1904.30,1856.52,1880.28,0.75 %,"238,977,134.80"
...,...,...,...,...,...,...,...,...
887,FINANCE,2020-01-07,574.58,579.84,574.08,579.84,0.00 %,"83,081,200.00"
888,FINANCE,2020-01-06,573.33,576.81,572.34,574.82,0.00 %,"74,341,900.00"
889,FINANCE,2020-01-05,569.38,577.75,568.65,573.33,0.00 %,"58,521,000.00"
890,FINANCE,2020-01-02,568.15,569.47,566.29,569.47,0.00 %,"30,460,700.00"
891,FINANCE,2020-01-01,571.84,573.71,568.95,570.60,0.00 %,"18,415,100.00"